/* Importing Bootstrap SCSS file. */

$theme-colors: (
  "primary": #44001a,
  "secondary": #b15b5b,
  "danger": #ff4136
);

@import "../node_modules/bootstrap/scss/bootstrap"; 

body {
  margin: 0;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 100%;;
}

* {
  box-sizing: content-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  width: fit-content;
  text-decoration: inherit;
}

p {
  margin: 0
}

.font-logo {
  font-family: 'Architects Daughter', cursive;
}

.nav-line-height {
  line-height: 32px;
}

.nav-link {
  padding: 0;
}

.smart-guy-image {
  width: 55px;
}

.cursor-pointer {
  cursor: pointer;
}

.border-box {
  box-sizing: border-box;
}

.required {
  &::after {
    content: " *";
    color:red;
  }
}

.icon-size {
  font-size: 20px;
}